<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no, date=no, address=no, email=no" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="cache-control" content="no-store, must-revalidate" />
  <meta http-equiv="expires" content="0" />
  <link rel="stylesheet" href="../static/css/style.css">
  {% block head %}
  <title>demo</title>
  {% endblock %}
  {% if debug %}
  <script src="//res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/vconsole/2.5.1/vconsole.min.js"></script>
  {% endif %}
  {% if !remConfig.disabled %}
  <script>document.documentElement.style.fontSize=document.documentElement.clientWidth/{{remConfig.pieces}}+"px";</script>
  {% endif %}
</head>
<body>
{% block body %}{% endblock %}
<script src="../static/js/index.js"></script>
{% block script %}{% endblock %}
</body>
</html>
